# load_initial_data

This notebook is meant to be run right after the database is first created. Right now, all it does is populate the `parameters` table using data from the parameters.csv file.

In [1]:
import pandas as pd
import db

In [2]:
parameters = pd.read_csv('parameters.csv', index_col=[0])
parameters

                       name   unit
key
temp            Temperature  deg_c
salt               Salinity    psu
o2         Dissolved Oxygen    mgl
nh4                 Ammonia   umol
no3                 Nitrate   umol
no2                 Nitrite   umol
no23        Nitrate+Nitrite   umol
chla          Chlorophyll-A    ugl
ph                       pH     ph
po4    Phosphate, dissolved   umol
orthp       Ortho-Phosphate   umol
tp         Total Phosphorus   umol
sioh4   Silicate, dissolved   umol

In [3]:
engine = db.connect()
parameters.to_sql('parameters', con=engine, schema='obsdata', index_label="key", if_exists='append')

13